In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import os
from sklearn import preprocessing 
import seaborn as sns

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

# Import SQL Alchemy
from sqlalchemy import create_engine

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

#Importing the Object Relationship Mapper (ORM)
from sqlalchemy.orm import Session

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

# Step 1 - Data Engineering

In [2]:
hawaii_measurements_path = "Resources/hawaii_measurements.csv"
hawaii_stations_path = "Resources/hawaii_stations.csv"

In [3]:
# Import CSV file to their respective dataframes
hawaii_measurements_df = pd.read_csv(hawaii_measurements_path, low_memory = False)
hawaii_stations_df = pd.read_csv(hawaii_stations_path, low_memory = False)

In [4]:
# Print the first 10 rows of data to the screen - just to be sure we have imported the CSV correctly
hawaii_measurements_df.head(10)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73
5  USC00519397  2010-01-07  0.06    70
6  USC00519397  2010-01-08  0.00    64
7  USC00519397  2010-01-09  0.00    68
8  USC00519397  2010-01-10  0.00    73
9  USC00519397  2010-01-11  0.01    64

In [5]:
hawaii_stations_df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [6]:
# Check the count of data elements
hawaii_measurements_df.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

# Data Cleaning

In [7]:
# As we see inconsistent counts, we realize that hawaii_measurements_df has NaN values (blank values) for some items in the prcp column. 
# Use dropna to delete all data with these values.

# Data Clean-up Logic
# As we see inconsistent counts, we will clean up our dataframe as below
hawaii_measurements_df = hawaii_measurements_df.dropna(how = 'any')
# Now showing the revised count
hawaii_measurements_df.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

# Export clean data back to CSV Files

In [8]:
# Writing our clean dataframe back into a CSV file
hawaii_measurements_df.to_csv("Resources/clean_hawaii_measurements.csv", index = False)
hawaii_stations_df.to_csv("Resources/clean_hawaii_stations.csv", index = False)